$breakpoint: #ff7777;
$breakpointDisabled: #ffdcdc;
$breakpointHover: #ffa7a7;
$border: #c3c3c3;
$gutter: #f6f6f6;

button {
  &.primary {
    width: 150px;
    position: relative;
    line-height: 30px;
    font-family: monospace;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 20px;
  }
}

#jsinspectorApp {
  margin: 20px;
}

#editor {
  width: 100%;
  min-width: 300px;
  height: 500px;
  max-height: 1000px;
  border: 1px solid $border;
  outline: none;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.description {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-family: monospace;
  font-size: 12px;
}

.ace_gutter-cell {
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $breakpointHover;
  }

  &.ace_breakpoint {
    background-color: $breakpoint;

    &.disabled {
      background-color: $breakpointDisabled;
    }
  }
}

.toolbar {
  display: flex;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $border;
}

.toobarItem {
  width: 100%;
}

.toolbarBreakpointBtn {
  position: relative;
  height: 20px;
  line-height: 15px;
  font-family: monospace;
  font-size: 12px;
  padding-left: 17px;
  box-sizing: border-box;
  cursor: pointer;

  &::before {
    position: absolute;
    left: 2px;
    content: ' \25CF';
    font-size: 21px;
    color: $breakpoint;
  }

  &.toDisable::before {
    color: $breakpointDisabled;
  }

  &.toEnable {
    display: none;
  }
}

.toolboxBreakpointLines {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
  font-family: monospace;
}

.breakpointLine {
  position: relative;
  display: flex;
  border: 1px solid $breakpoint;
  margin-bottom: 5px;
  cursor: pointer;

  &:hover {
    .breakpointLineClose::before {
      content: '\d7';
      font-size: 21px;
      line-height: 21px;
    }
  }
}

.breakpointLineNumber {
  min-width: 35px;
  padding: 3px;
  padding-right: 10px;
  background-color: $gutter;
  text-align: right;
}

.breakpointLineContent {
  padding: 3px;

  pre {
    margin: 0;
  }
}

.breakpointLineClose {
  position: absolute;
  width: 16px;
  height: 100%;
  right: 0;
}

#evalResult {
  text-align: left;
  border: 1px solid $border;
  min-height: 50px;
  max-height: 500px;
  overflow: auto;
  
  .result {
    margin: 5px 10px;
  
    &.error {
      color: red;
    }
  }

  .old {
    opacity: 0.4;
  }
}

.mainInteraction {
  display: flex;
  justify-content: space-around;
}